body{
    background-color: rgb(169, 236, 236);
    text-align: center;
}

h2{
    color: rgb(20, 125, 216);
    font-family: 'Vintage Capital', sans-serif;
    font-size: 2.9em;
    margin: 20px;
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Labrada', sans-serif;
    font-size: 2.1em;
    margin: 20px;
}

p{
    color: rgb(20, 125, 216);
    font-family: 'Vintage Capital', sans-serif;
    font-size: 1.4em;
    margin: 20px;
}

input{
    width: 550px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Labrada', sans-serif;
    font-size: 1.5em;
}

input:focus{
    border: solid 5px #000000;
}

#sendButton_lr,#sendButton_nb,#sendButton_knn{
    background-color: rgb(20, 125, 216);
    width: 200px;
}

#sendButton_lr,#sendButton_nb,#sendButton_knn: hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#importButton_db1,#importButton_db2{
    background-color: rgb(20, 125, 216);
    width: 324px;
}

#importButton_db1,#importButton_db2: hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#timer_button{
    background-color: rgb(20, 125, 216);
    width: 200px;
}

#timer_button: hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
