body{
    background-color: rgb(169, 236, 236);
    text-align: center;
}

h2{
    color: rgb(20, 125, 216);
    font-family: 'Vintage Capital', sans-serif;
    font-size: 2.9em;
    margin: 20px;
}

h3{
    color: rgb(0, 0, 0);
    font-family: 'Labrada', sans-serif;
    font-size: 2.1em;
    margin: 20px;
}



p{
    color: rgb(20, 125, 216);
    font-family: 'Vintage Capital', sans-serif;
    font-size: 1.4em;
    margin: 20px;
}

input{
    width: 550px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Labrada', sans-serif;
    font-size: 1.7em;
}

input:focus{
    border: solid 5px #000000;
}

#sendButton,#sendButton_0{
    background-color: rgb(20, 125, 216);
    width: 200px;
}

#sendButton,#sendButton_0: hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

