<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Emir & Baris</title>
    <link rel="stylesheet" href="\static\css\main.css">
    <link href="https://fonts.cdnfonts.com/css/vintage-capital" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/labrada" rel="stylesheet">
                
</head>
<body>
    <h2>Spam Mail Detection</h2>
    
    
    <span><img src="/static/pictures/envelope.png" width="100"></span>
    
    <br>
   <form action = "mailController" method = "post"> 
        {% for message in get_flashed_messages()%}
            <p>{{message}}</p>
        {%endfor%}
        
    

        <br>
        <input type="text" name="mail">
        <br>
        <input type="submit" value="Logistic Regression" id="sendButton_lr">
        <input type="submit" value="K-NN" id="sendButton_knn" formaction = "mailController_knn">
        <input type="submit" value="Naive Bayes" id="sendButton_nb" formaction = "mailController_nb">
        <br>
        <input type="submit" value="Dataset 1" id="importButton_db1" formaction = "datasetController_1">
        <input type="submit" value="Dataset 2" id="importButton_db2" formaction = "datasetController_2">
    </form> 
    
    <span> <p>Accuracy on training data: {{test_acc}}</p></span>

    <span> <p>Accuracy on test data: {{test_acc}} </p></span>

    <br>
    <span style="color: rgb(20, 125, 216); font-family: 'Labrada', sans-serif; font-size: 2.1em;">Baris Bakim 20011629 -- </span>
    <span style="color: rgb(20, 125, 216); font-family: 'Labrada', sans-serif; font-size: 2.1em;">Emir Cagri Aykin 20011062</span>
    
</body>
</html>
